@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    line-height: 170%;
}

a {
    font-size: inherit;
    color: inherit;
}

h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 60px;
    color: inherit;
    line-height: 100%;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.bold {
    font-weight: 700;
}

.green {
    color: #60C880;
}

.view {
    display: none;
}

.btn {
    padding: 12px 30px;
    background-color: #60C880;
    color: white;
    border-radius: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}











.header {
    position: absolute;
    top: 0;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.289);
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: white;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_contact {
    display: flex;
    align-items: center;
    gap: 20px;
}








.hero {
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 100vh;
    background: url(../img/hero.png) center/cover no-repeat;
}

.hero .container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.hero_arrow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    max-width: 600px;
}


.inovation .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.inovation_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-width: 730px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.num {
    display: flex;
    align-items: center;
    gap: 20px;
}






@media (max-width: 510px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    .view {
        display: block;
    }

    .none {
        display: none;
    }

    .btn {
        font-size: 16px;
    }




    .header {
        border: 0;
    }

    .header_main {
        font-size: 14px;
    }

    .header_link {
        gap: 10px;
    }

    .header_contact {
        gap: 15px;
    }





    .hero {
        margin-bottom: 50px;
        background: linear-gradient(to top, #1B1E3100, #1B1E31E5), url(../img/hero.png) no-repeat center/cover;
    }

    .hero .container {
        padding-top: 150px;
        align-items: start;
    }

    .hero_arrow {
        width: 80px;
        right: 20px;
    }



    .inovation .container {
        flex-direction: column;
        gap: 20px;
    }

}