@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    line-height: 130%;
}

a {
    font-size: inherit;
    color: inherit;
}

h1 {
    font-size: 80px;
    line-height: 75%;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 60px;
    color: inherit;
    line-height: 75%;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: 75%;
    font-weight: 700;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.bold {
    font-weight: 700;
}

.green {
    color: #60C880;
}

.view {
    display: none;
}




.header {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.282);
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    /* color: ; */
}

.header_link {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_contact {
    display: flex;
    align-items: center;
    gap: 20px;
}















@media (max-width: 510px) {
    body {
        font-size: 16px;
    }

    .view {
        display: block;
    }

    .none {
        display: none;
    }





    .header_main {
        font-size: 14px;
    }

    .header_link {
        gap: 10px;
    }

    .header_contact {
        gap: 15px;
    }
}