@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    line-height: 170%;
}

a {
    font-size: inherit;
    color: inherit;
}

h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 60px;
    color: inherit;
    line-height: 100%;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.bold {
    font-weight: 700;
}

.green {
    color: #60C880;
}

.view {
    display: none;
}

.btn {
    padding: 12px 30px;
    background-color: #60C880;
    color: white;
    border-radius: 200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}











.header {
    position: absolute;
    z-index: 1000;
    top: 0;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.289);
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: white;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_contact {
    display: flex;
    align-items: center;
    gap: 20px;
}








.hero {
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 100vh;
    background: url(../img/hero.png) center/cover no-repeat;
}

.hero .container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.hero_arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    max-width: 600px;
}





.inovation {
    margin-bottom: 50px;
}

.inovation .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.inovation_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-width: 730px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.num {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service {
    margin-bottom: 80px;
}

.service_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 30px;
}

.service_box {
    display: flex;
    align-items: start;
    gap: 40px;
    border: 1px solid #00000047;
    padding: 60px;
}

.service_txt {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service_link {
    display: flex;
    align-items: center;
}

.service_link a {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.service_more {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 16px;
    font-weight: 400;
}






.work {
    background-color: #1B1E31;
    padding: 80px 0;
}

.white {
    color: white;
}


.work_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 50px;
}

.work_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    background-color: white;
    padding: 50px;
    border: 1px solid #00000038;
}




.why {
    margin-top: 50px;
    margin-bottom: 50px;
}

.why .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.why_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 520px;
    gap: 30px;
}

.globus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.practic {
    display: flex;
    align-items: center;
    gap: 30px;
}

.practic_text {
    max-width: 300px
}

.practic_txt {
    text-align: center;
    outline: 1px solid rgba(0, 0, 0, 0.219);
    outline-offset: 80px;
    border-radius: 50%;
    background-color: #60C880;
    color: white;
    padding: 120px 50px;
}

.little {
    font-size: 26px;
}

.index {
    z-index: 3;
}



.with {
    margin-bottom: 50px;
}

.with_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
}

.with_box {
    padding: 10px;
    border: 1px solid #00000037;
    align-items: center;
    justify-items: center;
}







.stack_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.stack_img {
    display: flex;
    padding: 10px;
    border: 1px solid #00000043;
}

.img_stack {
    display: flex;
}




.news {
    margin-bottom: 50px;
}

.news_intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.news_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 50px;
}

.news_box {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px;
    border: 1px solid #0000002b;
}


.qustion {
    background-color: #60C880;
    padding: 80px 0;
}

.white_btn {
    background-color: white;
    color: #3D3D3D;
}

.form {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 200px;
    width: 210px;
    padding: 10px 24px;
}

input::placeholder {
    color: white;
}








.footer {
    padding: 100px 0 0;
    background-color: #1B1E31;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.footer_bottom .container {
    display: flex;
    justify-content: space-between;
}

.gray {
    color: gray;
}

.footer_bottom {
    border-top: 1px solid #00000057;
}

@media (max-width: 510px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    .view {
        display: block;
    }

    .none {
        display: none;
    }

    .btn {
        font-size: 16px;
    }




    .header {
        border: 0;
    }

    .header_main {
        font-size: 14px;
    }

    .header_link {
        gap: 10px;
    }

    .header_contact {
        gap: 15px;
    }





    .hero {
        margin-bottom: 50px;
        background: linear-gradient(to top, #1B1E3100, #1B1E31E5), url(../img/hero.png) no-repeat center/cover;
    }

    .hero .container {
        padding-top: 150px;
        align-items: start;
    }

    .hero_arrow {
        width: 80px;
        right: 20px;
    }



    .inovation .container {
        flex-direction: column;
        gap: 20px;
    }



    .service_box {
        gap: 15px;
        padding: 20px;
    }

    .service_box img {
        width: 40px;
    }

    .service_txt {
        gap: 10px;
    }

    .service_link a {
        font-size: 16px;
    }



    .work_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .work_box img {
        width: 40px;
    }

    .work_txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .work_box {
        flex-direction: row;
        padding: 30px;
    }


    .little {
        font-size: 18px;
    }



    .why .container {
        flex-direction: column;
        gap: 50px;
    }

    .globus {
        gap: 15px;
    }

    .practic {
        gap: 15px;
    }

    .practic_text {
        max-width: 160px;
    }

    .practic_txt {
        outline-offset: 30px;
        padding: 50px 25px;
        line-height: 100%;
    }

    .index {
        width: 40px;
    }








    .with_wrapper {
        grid-template-columns: repeat(12, 160px);
        grid-template-rows: auto;
        overflow-x: auto;
    }

    .stack_wrapper {
        flex-direction: column;
    }

    .news_wrapper {
        grid-template-columns: 1fr;
    }

    .qustion {
        padding: 30px 0;
    }

    .form {
        flex-direction: column;
    }

    input {
        width: 100%;
        padding: 20px;
    }

    .footer .container {
        justify-content: center;
    }

    .footer_box {
        text-align: center;
    }
}